<section class="nombre">
    <div class="contenedor">
        <img src="images/ppal.jpg" alt="planta1" class="product_img">
        <div class="imagen_nombre">
            <img src="images/nombre.png" alt="img_nombre">
        </div> 
        <div class="presentacion">    
            <p>
                Somos un sitio web dedicado al cuidado de plantas de interior y exterior.
                    Encontramos objetos unicos para cada persona, pensados en la naturaleza y la sensibilidad.
             </p>
        </div>
    </div>
</section>